@import url('https://fonts.google.com/specimen/Outfit');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    height: 550px;
    width: 400px;
    margin: 0 auto;
}

.card {
    background-color: hsl(0, 0%, 100%);
    margin: 50px auto;
    padding-bottom: 20px;
    border-radius: 25px;
    text-align: center;
}

img {
    width: 350px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 15px;
}

p,
h2 {
    padding-bottom: 5%;
    width: 300px;
    margin: 0 auto;
}

h2 {
    color: hsl(218, 44%, 22%);
}

p {
    color: hsl(220, 15%, 55%);
}